// food constants
$foodWidth : 10;
$foodHeight : 10;
$foodColor : "#f3f1d6";
.food{
    width : $foodWidth px;
    height : $foodHeight px;
    background-color : $foodColor;
    position: "absolute";
}
.card
{
    width : "300px";
    height: "300px";
    border : "solid 3px #3F51B5";
    display : "flex";
    justify-content : "center";
    align-items: "center";
    background : "black";
    z-index:999;
    position : "absolute";
}
.wall
{
    border :'#3F51B5 7px double';
    box-sizing: 'border-box';
    border-radius : '2px';
    background-color: 'black';
    position : 'absolute';
}
.screen 
{
    display : 'flex';
    justify-content : 'center';
    align-items:  'center';
    width : '100%';
    height : '95vh';
}
.gamefloor{
    border : 'blue 1px solid';
    position : 'relative';
    background-color: "black";

}
.eyes 
{
    height : "20px";
    display : 'flex';
    justify-content: 'space-around';
    align-items: 'flex-end';
}
.eye 
{
    background-color: '#fff';
    height : '15px';
    width : '15px';
    border-radius: '100%';
    display : 'flex';
    justify-content: 'flex-start';
    align-items: 'center';
}
.iris
{ 
    background-color:'blue';
    height : '7px';
    width : '7px';
    border-radius: '100%';
}